<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sasquatch Websighting</title>
</head>
<body>
    <h1>Sasquatch Websighting</h1>

    <h2>Report Sighting</h1>

    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <a href="/logout" class="btn btn-success"> Log Out </a>
    <a href="/dashboard" class="btn btn-success"> Dashboard</a>
    

    <div class="flex col-5 mx-auto">
        <form action="/create/sighting" method="post">
            <div class="form-group col-6">
                <label for="location"> Location: </label>
                <input type="text" name="location" id="location">
                {% for message in get_flashed_messages(category_filter = ["error_sighting_location"]) %}
                    <p>{{ message }}</p>
                {% endfor %}  
            </div>
            <div class="form-group col-6">
                <label for="what_happened">what_happened:</label>
                <textarea name="what_happened" id="what_happened" cols="30" rows="4" class="form-control"></textarea>
                {% for message in get_flashed_messages(category_filter = ["error_sighting_what_happened"]) %}
                    <p>{{ message }}</p>
                {% endfor %}  
            </div>
            <div class="form-group">
                <label for="date_of_siting">Date Seen:</label>
                <input type="date" name="date_of_siting">
                {% for message in get_flashed_messages(category_filter = ["error_sighting_date_of_siting"]) %}
                    <p>{{ message }}</p>
                {% endfor %}  
            </div>
            <div >
                <label for="tentacles"># of Sasquatches:</label>
                <input type="number" id="tentacles" name="number_of_sasquatches" min="1" max="10">
            </div>
            <button type="submit" class="btn btn-dark" value="Submit">Report</button>
        </form>
    </div>
</body>
</html>
</body>
</html>