<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <H1>Counter</H1>
    <p>You have visited this page: {{session['counter']}} times</p>
        <form action="/addcount" method="POST">
            <button>add 2</button>
        </form>
        <form action='/reset' method='POST'>
            <button>Clear counter</button>
        </form>
</body>
</html>